@page
@model STASIS.Pages.Administration.UsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<h1>@ViewData["Title"]</h1>

<p>This page will contain functionality to add/edit users and manage their roles.</p>
