@page
@model STASIS.Pages.Boxes.PlaceModel
@{
    ViewData["Title"] = "Place a Sample";
}

<h1>@ViewData["Title"]</h1>

<p>This page will provide an interface for placing a sample into a specific position in a box.</p>
