@page
@model STASIS.Pages.Boxes.ReboxModel
@{
    ViewData["Title"] = "Bulk Update a Box (Re-box)";
}

<h1>@ViewData["Title"]</h1>

<p>This page will provide a special interface for scanning all samples in a physical box to rapidly update its contents in the system.</p>
