@page
@model STASIS.Pages.Boxes.SearchModel
@{
    ViewData["Title"] = "Search Boxes";
}

<h1>@ViewData["Title"]</h1>

<p>This page will contain functionality to search for boxes and view their contents.</p>
