@page
@model STASIS.Pages.LabSetup.BoxTypesModel
@{
    ViewData["Title"] = "Manage Box Definitions";
}

<h1>@ViewData["Title"]</h1>

<p>This page will contain functionality to define different types of boxes (e.g., 9x9, 10x10).</p>
