@page
@model STASIS.Pages.LabSetup.FreezersModel
@{
    ViewData["Title"] = "Manage Freezers";
}

<h1>@ViewData["Title"]</h1>

<p>This page will contain functionality to add, edit, and remove freezers from the system.</p>
