@page
@model STASIS.Pages.LabSetup.RacksModel
@{
    ViewData["Title"] = "Manage Racks";
}

<h1>@ViewData["Title"]</h1>

<p>This page will contain functionality to define the racks and shelves within each freezer.</p>
