@page
@model STASIS.Pages.Samples.ImportModel
@{
    ViewData["Title"] = "Bulk Import Samples";
}

<h1>@ViewData["Title"]</h1>

<p>This page will provide an interface to upload a CSV or Excel file to register many new samples at once.</p>
