@page
@model STASIS.Pages.Samples.SearchModel
@{
    ViewData["Title"] = "Search Samples";
}

<h1>@ViewData["Title"]</h1>

<p>This page will contain functionality to search for samples by various criteria.</p>
