@page
@model STASIS.Pages.Shipments.CreateModel
@{
    ViewData["Title"] = "Create New Shipment";
}

<h1>@ViewData["Title"]</h1>

<p>This page will provide the workflow for creating a new shipment, from importing a request to generating a manifest.</p>
